html {
  font-family: Helvetica;
  text-align: center;
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#main {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  font-size: 18px;
  color: white;
}

#middle {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
}

#footer {
  background-color: DimGrey;
  color: white;
  font-size:11px;
  text-align: left;
}
